@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 8%;
  --foreground: 210 40% 98%;
  --card: 224 47% 11%;
  --card-foreground: 210 40% 98%;
  --border: 222 32% 23%;
  --input: 222 32% 23%;
  --primary: 200 98% 50%;
  --primary-foreground: 222 47% 10%;
  --muted: 222 28% 18%;
  --muted-foreground: 216 20% 71%;
}

body {
  @apply bg-background text-foreground antialiased;
}
